<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>repoxy_core (repoxy) -  (Erlang Documentation)</title>
    <link href="/erldocs.css" type="text/css" rel="stylesheet"/>
    <link href="/search.xml" rel="search" type="application/opensearchdescription+xml" title="erldocs"/>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54292016-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="sidebar" class="inactive">
      <input type="text" id="search" autocomplete="off" placeholder="press TAB to search"/>
      <ul id="results"> </ul>
    </div>

    <div id="content">
      <div style="margin:0px; padding:10px 20px;">
        

<h1>repoxy_core</h1>
<h2 class="modsummary">
   The actual core functionality that repoxy provides.</h2>
<div class="description">
<p>
   The actual core functionality that repoxy provides.</p></div>
<div id="types" class="category"><h4><a href="#types">Types</a></h4><hr />
    <div class="type"><h3 id="type-node_backup">node_backup() = #node_backup{}</h3></div>
    <div class="type"><h3 id="type-project_cfg">project_cfg() = <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#project_cfg{rebar_cfg = <a href="rebar_config.html#type-config" class="seealso">rebar_config:config()</a>,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app_infos = [#app_info{}]}</h3></div></div>
<div id="functions" class="category"><h4><a href="#functions">Functions</a></h4><hr />
<div class="function">
<h3 id="empty_prj_cfg/0">empty_prj_cfg() -&gt; project_cfg()</h3>


<div class="description">

<p>
  Create an empty project_cfg - use this only in unit tests.</p>
</div></div>
<div class="function">
<h3 id="load_rebar/0">load_rebar() -&gt; project_cfg()</h3>


<div class="description">

<p>
  Start rebar the first time, initialize the configuration and do all necessary
  setup work. The return value must be passed into all subsequent calls.</p>
</div></div>
<div class="function">
<h3 id="backup_node/0">backup_node() -&gt; node_backup()</h3>


<div class="description">

<p>
  Save code_path and loaded applications to be restored with <code>restore_node</code>.</p>
</div></div>
<div class="function">
<h3 id="restore_node/1">restore_node(Node_backup::node_backup()) -&gt; ok</h3>


<div class="description">

<p>
  Unload the rebar application from the current node. Also reset the code_path
  and stop/unload all applications that were not loaded before.</p>
</div></div>
<div class="function">
<h3 id="rebar/1">rebar(Cfg::project_cfg(), RebarCmds::[atom()] | atom()) -&gt; ok | {error, TextualOutput::string()}</h3>


<div class="description">

<p>
  Run rebar command.</p>
</div></div>
<div class="function">
<h3 id="add_app_info/2">add_app_info(App_info::#app_info{}, Cfg::project_cfg()) -&gt; ok | {error, TextualOutput::string()}</h3>


<div class="description">

<p>
  Add an app info to the</p>
</div></div>
<div class="function">
<h3 id="get_app_infos/1">get_app_infos(Cfg::project_cfg()) -&gt; [#app_info{}]</h3>


<div class="description">

<p>
  Extract #app_info{}'s from a project config. Useful for unit tests.</p>
</div></div>
<div class="function">
<h3 id="get_app_paths/1">get_app_paths(Project_cfg::project_cfg()) -&gt; [{AppName::atom(), AppBaseDir::string()}]</h3>


<div class="description">

<p>
  Return a list of app name - app base directory pairs for each loaded app.
  These tuples represent a reduced <code>#app_info</code> record.</p>
</div></div>
<div class="function">
<h3 id="compile_file/1">compile_file(Cfg::project_cfg(), File::string()) -&gt; term()</h3>


<div class="description">

<p>
  Compile and loada single file and return the compilation results. Files are
  compiled into a special directory and loaded after successful compilation.</p>
</div></div>
<div class="function">
<h3 id="load_apps_into_node/1">load_apps_into_node(Cfg::project_cfg()) -&gt; [#app_info{}]</h3>


<div class="description">

<p>
  Load the applications added by <code>add_app_info/2</code> into the current node
  in order to enable compilation and execution of the modules in of an app.
  The effect of this can only be reversed by <code>restore_node/1</code>.</p>
</div></div></div>

<authors>

<aname>Sven Heyll</aname>
<email>sven.heyll@gmail.com</email></authors>
      </div>
  </div>

    <script type="text/javascript">
      var CURRENT_ROOT = "../";
    </script>

    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="../erldocs_index.js"></script>
    <script type="text/javascript" src="/erldocs.js"></script>
  </body>
</html>
